@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Labrada&display=swap");


/* Header style */

.navbar {
  width: 100%;
  height: 100px;
  background-color: transparent;
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.5rem 3rem !important;
  /* font-size: 1.3rem !important; */
}

.sticky {
  transition: all 0.3s ease-out 0s !important;
  /* box-shadow: 0px 10px 10px 0px rgba(47, 11, 227, 0.171) !important; */
  backdrop-filter: blur(15px) !important;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: white;
  height: 4px !important;
  width: 28px !important;
  margin-top: 3px !important;
  margin-bottom: 5px !important;
  margin-right: 2rem !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

.logo {
  background-image: url(../Assets/logo5trans.png);
  background-size: cover;
  width: 90px;
  height: 80px;
}

.navbar-nav .nav-link {
  color: white !important;
  font-size: 16px !important;
  letter-spacing: 1px;
  font-weight: 500 !important;
  padding-right: 1rem !important;
  padding-left: 1.5rem !important;
}

.navbar-nav .nav-link:hover {
  color: #feec00 !important;
}

.resumebtn {
  margin-left: 30px;
  border-radius: 25px;
  padding: 0 25px;
  /* background-color: #fbb034;
    
background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%); */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px; */
  border: 2px solid #feec00;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 0rem !important;
    background-color: transparent !important;
  }

  .navbar-nav .nav-item a::after {
    display: none !important;
  }

  .responsive-navbar {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    background-color: #212121;

    /* background-image: linear-gradient(
      43deg,
      #4158d0 0%,
      #c850c0 0%,
      #ffcc70 100%
    ); */
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .resumebtn {
    width: 150px;
    display: block;
    margin: 5px auto;
    padding: 8px 5px;
    letter-spacing: 1px;
  }
}

/* Homepage style */

.homepagebackground {
  width: 100%;
  height: 100vh;
  background-color: black;
  /* background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  ); */
}

.row {
  padding-top: 80px;
}

.wave {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.Typewriter__wrapper {
  font-size: 2.0em !important;
  color: #feec00 !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
}

.Typewriter__cursor {
  font-size: 2.4em !important;
  color: white !important;
}

.headtext {
  padding-top: 120px;
  font-size: 2.4em !important;
  color: white !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
}

.nametext {
  font-size: 2.0em !important;
  color: white !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
}

.imagedeveloper {
  background-image: url(../Assets/me1.png);
  background-size: cover;
  background-position: center;
  border-radius: 48%;
  margin-left: 19%;
  max-width: 420px;
  max-height: 400px;
  margin-bottom: 33px;
  margin-top: 100px;
  width: 100%;
  height: 390px;
}

.socailmediabtn {
  margin-top: 2rem;
  width: 90px;
  height: 45px;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  color: white;
}

.socailmediabtn:hover {
  color: black;
  background-color: #feec00;
  /* box-shadow: rgba(225, 218, 218, 0.45) 0px 5px 15px !important; */
}

.icon {
  font-size: 30px;
}

@media (max-width: 767px) {
  .homepagebackground {
    width: 100%;
    height: 100%;
  }

  .row {
    padding-top: 50px;
  }

  .Typewriter__wrapper {
    font-size: 1.9em !important;
  }

  .Typewriter__cursor {
    font-size: 2.2em !important;
  }

  .headtext {
    padding-top: 100px;
    font-size: 2em !important;
  }

  .nametext {
    font-size: 2.4em !important;
  }

  .imagedeveloper {
    border: 2px dotted #feec00;
    border-radius: 48%;
    margin-top: 50px;
    margin-left: 19%;
    width: 55%;
    height: 307px;
    max-width: 420px;
    max-height: 400px;
    margin-bottom: 33px;
  }

  .socailmediabtn {
    margin-top: 1rem;
  }
}

/* Aboutpage style */

.aboutpage-background {
  width: 100%;
  height: 100%;
  background-color: black;
  /* background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  ); */
  padding-top: 6rem;
}

.text-background {
  width: 100%;
  height: 100%;
  padding: 30px;
  color: white;
  /* background-color: transparent; */
  border-radius: 15px;
  box-shadow: white !important;
}

.about-me-text {
  font-size: 2em !important;
  color: #feec00 !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
  margin-bottom: 20px;
}

.highlight-text {
  color: white;
}

.about-details {
  font-size: 1.1em !important;
  line-height: 1.6;
  margin-bottom: 30px;
}

.skills-section {
  margin-top: 20px;
}

.skills-heading {
  font-size: 1.5rem;
  margin-bottom: -55px;
}

.skill-list {
  list-style: none;
  padding-left: 0;
  font-family: "Exo 2", sans-serif;
  letter-spacing: 1px;
  list-style-type: ">  ";
  /* font-weight: 600; */
}

.skill-list li {
  font-size: 1rem;
  margin-bottom: 8px;
}

.skill-list li:hover {
  transform: scale(1.05);
  transition: 5ms;
  color: #feec00;
}

/* .webimage {
  max-width: 500px;
  height: 350px;
  background-image: url(../Assets/web-removebg-preview.png);
  background-size: cover;
  background-position: center;
} */

.web-image {
  background-image: url(../Assets/web-removebg-preview.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .aboutpage-background {
    width: 100%;
    height: 100%;
  }

  .text-background {
    display: block;
    margin: 0 auto;
  }
}


/* Projectpage style */

.projectbackground {
  width: 100%;
  height: 100%;
  background-color: black;
  /* background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  ); */
}

.project-section {
  position: relative !important;
  padding-top: 10px !important;
}

.project-card {
  padding-top: 20px;
  padding-bottom: 50px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
}

.project-card-view {
  box-shadow: rgba(17, 17, 26, 0.304) 0px 4px 16px,
    rgba(17, 17, 26, 0.311) 0px 8px 24px, rgba(17, 17, 26, 0.311) 0px 16px 56px !important;
  color: white !important;
  background-color: transparent !important;
  border: transparent;
  opacity: 0.9 !important;
  transition: all 0.5s ease 0s !important;
  height: 100% !important;
  border-radius: 15px;
}

.project-card-view:hover {
  transform: scale(1.02) !important;
  overflow: hidden !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px !important;
}

.card-title {
  color: #feec00;
}

.card-img-top {
  height: 300px;
  padding: 20px !important;
  /* opacity: 0.8 !important; */
  border-radius: 30px !important;
}

.viewbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  letter-spacing: 1px;
}

.btn-primary {
  color: #fff !important;
  background-color: transparent !important;
  border-color: #feec00 !important;
}

.btn-primary:hover {
  color: black !important;
  /* background-color: #c850c0 !important;
  border-color: #c850c0 !important; */
  background-color: #feec00;
  background-image: linear-gradient(43deg, #feec00 0%, #feec00 100%);
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

@media (max-width: 767px) {
  .project-section {
    padding-top: 40px !important;
  }
}

/* Contactpage Style */
.contactbackground {
  width: 100%;
  height: 106vh;
  background-color: black;
  /* background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  ); */
  padding-top: 110px;
  color: white;
}

.contacthead {
  padding-top: 3rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.contactpara {
  padding-top: 1rem;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  padding-bottom: 1rem;
}

.contactbtn {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  border: #feec00 solid 1px;
  background-color: transparent;
  color: white;
  letter-spacing: 2px;
}

.contactbtn:hover {
  background-color: #feec00;
  color: black;
}

.line {
  margin-top: 11rem;
}

.copyright {
  padding: 1px;
  text-align: center;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.copyright span {
  font-weight: 700;
  letter-spacing: 1px;
}

@media (max-width: 767px) {
  .line {
    margin-top: 8rem;
  }

  .contactpara br {
    display: none;
  }
}

/* blog page  */
.blogpage {
  background-color: black;
  width: 100%;
  height: 100vh;
  color: white;
  padding-top: 8rem;
}

.blogCard {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  /* margin-bottom: 6rem; */
  margin: 1vmax;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: rgba(17, 17, 26, 0.304) 0px 4px 16px,
    rgba(17, 17, 26, 0.311) 0px 8px 24px, rgba(17, 17, 26, 0.311) 0px 16px 56px !important;
  background-color: transparent !important;
  border: 1px #feec00 solid;
  border-radius: 15px;
}

.blogCard>h2 {
  inline-size: 400px;
  overflow-wrap: break-word;
  padding: 2rem;
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 2rem;
}

.blogImg {
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
}

.blogBtn {
  height: 2rem;
  /* width: 10rem; */
  padding: 0.5rem;
  border: 1px solid #feec00;
  background: transparent;
  color: white;
  border-radius: 5px;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  letter-spacing: 1px;
}

.blogBtn:hover {
  background-color: #feec00;
  color: black;
}

@media (max-width: 767px) {
  .row {
    padding-top: 80px;
  }


  /* .blogCard {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-bottom: 6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: rgba(17, 17, 26, 0.304) 0px 4px 16px,
      rgba(17, 17, 26, 0.311) 0px 8px 24px, rgba(17, 17, 26, 0.311) 0px 16px 56px !important;
    /* color: white !important; */
    /* background-color: transparent !important;
    border: 1px #feec00 solid;
    border-radius: 15px; */
  /* }  */

  .blogImg {
    /* position: absolute; */
    left: 5%;
    top: 24%;
  }

  .blogCard>h2 {
    /* position: absolute; */
    left: 23%;
    bottom: 20%;
    padding: 1rem;
  }

  .blogBtn {
    /* position: absolute; */
    bottom: 5%;
    left: 50%;
  }
}

/* .image-developer{
  width: 100%;
  height: 100%;
} */

@media (max-width: 390px) {

  .imagedeveloper{
    border: 2px dotted #feec00;
    border-radius: 48%;
    margin-top: 50px;
    margin-left: 19%;
    width: 67%;
    height: 236px;
    max-width: 420px;
    max-height: 400px;
    margin-bottom: 33px;
  }
  
}